:root {
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Avenir Next", "Avenir Next LT Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  background-color: #014;
  color: #bbb;
  text-align: center;
}

header {
  margin-top: 5%;
}

h1 {
  margin: 0 0 .5rem 0;
  color: #26d;
  font-size: 4.5em;
  font-weight: normal;
  letter-spacing: -.05em;
}

h2 {
  margin: 0 0 1.5rem 0;
  color: #fff;
  font-size: 2em;
  font-weight: 300;
  letter-spacing: .025em;
}

main {
  margin-top: .75rem;
  border-top: 1px solid #24b;
  border-bottom: 1px solid #24b;
  padding: 2.5em;
  background-color: #000822;
  color: #99a;
  letter-spacing: .075em;
}

main > .quote {
  color: #4f6fdf
}

main > .op {
  color: #26d;
}

nav {
  margin-top: 2.25rem;
}

nav > a, nav > a:visited  {
  display: inline-block;
  border: 1px solid #24b;
  border-radius: 4px;
  padding: .75em .5em;
  background-color: #014;
  color: #26d;
  font-size: .9em;
  font-weight: normal;
  text-decoration: none;
  min-width: 11em;
}

nav > a:hover  {
  background-color: #001450;
  cursor: pointer;
}

nav > a:active  {
  background-color: #001860;
}

nav > a + a {
  margin-left: 1em;
}

footer {
  margin-top: 6rem;
  color: #15c;
  font-size: .75em;
}
